
.inputBox{
    width: fit-content;
    gap: 0.5rem;
    border-radius: 2rem;
    background-image: linear-gradient(278deg, rgba(79,79,126,0.969625350140056) 3%, rgba(91,91,146,0.63) 46%, rgba(255,255,255,0) 100%);
}
.number{
    text-align: center;
    vertical-align: center;
    width: 4ch;
    height: 4ch;
    font-size: 1.1rem;
    font-weight: bolder;
    background-color: inherit;
    border-radius: 1rem;
    border: none;
    cursor: default;
    outline: none;
}
.number.input:hover{
    background-image:  radial-gradient(circle, rgba(79,79,126,0.969625350140056) 3%, rgba(146,91,108,0.63) 100%, rgba(255,255,255,0) 100%);
}
