.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.title{
    font-size: 4rem;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 15px;
    letter-spacing: 5px;
    user-select: none;
}
#subtitle{
    font-size: 1.5rem;
}

.message{
    font-size: 16px;
    font-weight: bolder;
}
